# for fixing after resuming from hibernate
# alx 0000:02:00.0: invalid PHY speed/duplex: 0xffff
# https://bbs.archlinux.org/viewtopic.php?id=170110

[Unit]
Description=Local system sleep actions
Before=sleep.target
PartOf=sleep.target

[Service]
Type=oneshot
RemainAfterExit=yes

# Commands to run when suspending or hibernating
ExecStart=/usr/bin/modprobe -r alx

# Commands to run when resuming or waking up
ExecStop=/usr/bin/modprobe alx

[Install]
WantedBy=sleep.target
